<meta charset = "utf-8">
<meta http-equiv = "X-UA-Compatible" content="IE=edge">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<meta name = "author" content = "Jimy Houlbrook">
<link rel = "stylesheet" type = "text/css" href = "/static/main.css"/>
<title><%= locals.title %></title>
<meta name="description" content="<%= locals.description %>">
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<script src="../../static/staticRedirect.js" type="module"></script>