<link rel = "stylesheet" type = "text/css" href = "/static/topnav.css"/>

<nav id = "header">
    <a href = "/home" class = "icon"><img src="/static/favicon.ico"></a>
    <a class = "link">ABOUT US</a>
    <a class = "link">BOOK NOW</a>
    <a class = "login">LOGIN / SIGNUP</a>
</nav>