<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head', 
        {
            title: "Home | Wagly",
            description: "A website to find fellow dog walkers"
        }) %>
    </head>
    
    <body>
        <!-- Top Nav Bar -->
        <%- include('../partials/topnav', {user: "Owner"}); %>

        <!-- Spacer to make space init -->
        <div class="spacer"></div>

        <div class="content">
            <div class = "Your Dogs">
                <h2 class = "title">Your Dogs</h2>

                <button id = "AddPet"></button>
            </div>
        </div>
    </body>
    <script src="../static/home.js"></script>
</html>