<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head', 
        {
            title: "Home | Wagly",
            description: "A website to find fellow dog walkers"
        }) %>
    </head>
    
    <body>
        <!-- Top Nav Bar -->
        <%- include('../partials/topnav'); %>

        <div class = "spacer">
            <!-- this is here to create space between topnav and content-->
        </div>

        <div class="content">
            <div class="loginsignupchoice">
                <a id = "signupTab">Create Account</a>
                <a id = "loginTab">Login</a>
            </div>

            <div id="login">
                Login
            </div>
            
            <div id="signup">
                Signup
            </div>
        </div>
    </body>

    <script src="../static/home.js"></script>
</html>