<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head', 
            {
            title: "Home | Wagly",
                description: "A website to find fellow dog walkers"
        }) %>
        <link rel="stylesheet" type="text/css" href="/static/walker.css">
    </head>
    
    <body>
        <!-- Top Nav Bar -->
        <%- include('../partials/topnav', {user: "Walker"}); %>

        <!-- Spacer to make space init -->
        <div class="spacer"></div>

        <div class="content">
            <div id="jobs">
                <h2>Current Jobs</h2>
            </div>
            <div id="offers">
                <h2>Job Offers</h2>
            </div>
        </div>
    </body>
    <script src="/static/walker.js" type = "module"></script>
</html>