<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head', 
        {
            title: "Home | Wagly",
            description: "A website to find fellow dog walkers"
        }) %>
    </head>
    
    <body>
        <!-- Top Nav Bar -->
        <%- include('../partials/topnav', {user: "Walker"}); %>

        <!-- Spacer to make space init -->
        <div class="spacer"></div>

        <div class="content">
            <div id="jobs"></div>
            <div id="offers"></div>
        </div>
    </body>
</html>