.loginsignupchoice{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1%;
    max-height: 1%;
}

.loginsignupchoice a{
    min-height: 1%;
    max-height: 1%;
    min-width: 10%;
    max-width: 10%;
    padding: 1.5% 10% 1.5% 10%;
}

.loginsignupchoice a:hover{
    background-color: #dadadb
}

#login{
    display: none;
    flex-direction: column;
}

#signup{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}