#header{
    display: flex;
    flex-direction: row;
    background-color: #ADC6AA;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    padding-top: 0%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 0%
}

#header a{
    color: White;
    text-decoration: none;
}

#header a:hover{
    background-color: #7d8e7b;
    color: white;
}

.icon{
    margin-top: auto;
}

@media (hover:hover) {
    .link{
        padding-top: 1%;
        padding-bottom: 1%;
        flex: 45%;
    }

    #header img{
        flex: 5%;
        max-width: 50px;
        max-height: 50px;
        padding-right: 1%;
    }

    .login{
        flex: 5%;
        margin-top: auto;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
}

@media (hover: none), (hover: on-demand){
    .link{
        flex: 45%;
    }

    #header{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    #header img{
        display: none;
    }
}